# Web Scraping Assignment

#### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [23]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\amuly\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\amuly\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\amuly\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\amuly\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\amuly\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amuly\anaconda3\lib\site-packages (from requests) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amuly\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\amuly\anaconda3\lib\site-packages (from requests) (2.0.4)

In [24]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Sending request to the web page

In [25]:
def header_tags(url):
    r = requests.get(url)
    
    soup = BeautifulSoup(r.content, 'html.parser')
    
    headers = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])
    
    header_list = []
    for header in headers:
        header_list.append(header.text.strip())

    # creating a pandas DataFrame from the header list
    df = pd.DataFrame(header_list, columns=['Header'])

In [26]:
df = header_tags('https://en.wikipedia.org/wiki/Main_Page')
print(df)

None

#### 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [97]:
url = 'https://www.imdb.com/chart/top/'
r = requests.get(url)
r

In [28]:
def imdb_50_movies(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    movie_containers = soup.find_all('td', class_='titleColumn')

    names = []
    ratings = []
    years = []

    for container in movie_containers[:50]:
        # movie name
        name = container.a.text
        names.append(name)
    
        # movie rating
        rating = float(container.parent.find('td', class_='ratingColumn imdbRating').text.strip())
        ratings.append(rating)

        # year of release
        year = int(container.span.text.strip('()'))
        years.append(year)

    # DataFrame 
    data = {'Name': names, 'Rating': ratings, 'Year': years}
    df = pd.DataFrame(data)

    
    return df

In [29]:
df = imdb_50_movies('https://www.imdb.com/chart/top/?ref_=nv_mv_50')
df

                                                 Name  Rating  Year
0                            The Shawshank Redemption     9.2  1994
1                                       The Godfather     9.2  1972
2                                     The Dark Knight     9.0  2008
3                               The Godfather Part II     9.0  1974
4                                        12 Angry Men     9.0  1957
5                                    Schindler's List     8.9  1993
6       The Lord of the Rings: The Return of the King     8.9  2003
7                                        Pulp Fiction     8.8  1994
8   The Lord of the Rings: The Fellowship of the Ring     8.8  2001
9                     Il buono, il brutto, il cattivo     8.8  1966
10                                       Forrest Gump     8.8  1994
11                                         Fight Club     8.7  1999
12              The Lord of the Rings: The Two Towers     8.7  2002
13                                          Inception     8.7  2010
14                            The Empire Strikes Back     8.7  1980
15                                         The Matrix     8.7  1999
16                                         GoodFellas     8.7  1990
17                    One Flew Over the Cuckoo's Nest     8.6  1975
18                                              Se7en     8.6  1995
19                              It's a Wonderful Life     8.6  1946
20                               Shichinin no samurai     8.6  1954
21                           The Silence of the Lambs     8.6  1991
22                                Saving Private Ryan     8.6  1998
23                                     Cidade de Deus     8.6  2002
24                                       Interstellar     8.6  2014
25                                    La vita è bella     8.6  1997
26                                     The Green Mile     8.6  1999
27                                          Star Wars     8.5  1977
28                         Terminator 2: Judgment Day     8.5  1991
29                                 Back to the Future     8.5  1985
30                      Sen to Chihiro no kamikakushi     8.5  2001
31                                        The Pianist     8.5  2002
32                                             Psycho     8.5  1960
33                                       Gisaengchung     8.5  2019
34                                               Léon     8.5  1994
35                                      The Lion King     8.5  1994
36                                          Gladiator     8.5  2000
37                                 American History X     8.5  1998
38                                       The Departed     8.5  2006
39                                           Whiplash     8.5  2014
40                                       The Prestige     8.5  2006
41                                 The Usual Suspects     8.5  1995
42                                         Casablanca     8.5  1942
43                                     Hotaru no haka     8.5  1988
44                                            Seppuku     8.5  1962
45                                   The Intouchables     8.5  2011
46                                       Modern Times     8.4  1936
47                       Once Upon a Time in the West     8.4  1968
48                              Nuovo Cinema Paradiso     8.4  1988
49                                        Rear Window     8.4  1954

#### 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [30]:
def imdb_50_movies_india(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    movie_containers = soup.find_all('td', class_='titleColumn')

    names = []
    ratings = []
    years = []

    for container in movie_containers[:50]:
        # movie name
        name = container.a.text
        names.append(name)
    
        # movie rating
        rating = float(container.parent.find('td', class_='ratingColumn imdbRating').text.strip())
        ratings.append(rating)

        # year of release
        year = int(container.span.text.strip('()'))
        years.append(year)

    # DataFrame 
    data = {'Name': names, 'Rating': ratings, 'Year': years}
    df = pd.DataFrame(data)

    
    return df

In [31]:
df = imdb_50_movies('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=69568c7e-01d9-48cb-b6bc-c7c88087a621&pf_rd_r=FB3MNJ9GPTS7AQX36GMH&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd')
df

                                   Name  Rating  Year
0   Ramayana: The Legend of Prince Rama     8.6  1993
1            Rocketry: The Nambi Effect     8.4  2022
2                               Nayakan     8.4  1987
3                              Gol Maal     8.4  1979
4                           777 Charlie     8.4  2022
5                     Pariyerum Perumal     8.4  2018
6                            Anbe Sivam     8.4  2003
7                           Apur Sansar     8.4  1959
8                              3 Idiots     8.4  2009
9                      Manichitrathazhu     8.3  1993
10                             Jai Bhim     8.3  2021
11                                #Home     8.3  2021
12                      Soorarai Pottru     8.3  2020
13                         Black Friday     8.3  2004
14                    Kumbalangi Nights     8.3  2019
15                    C/o Kancharapalem     8.3  2018
16                     Taare Zameen Par     8.3  2007
17                             Kireedam     8.3  1989
18                               Dangal     8.3  2016
19                               Kaithi     8.3  2019
20                               Jersey     8.3  2019
21                                   96     8.3  2018
22                          Maya Bazaar     8.2  1957
23                            Natsamrat     8.2  2016
24                               Asuran     8.2  2019
25                           Drishyam 2     8.2  2021
26                           Sita Ramam     8.2  2022
27                         Thevar Magan     8.2  1992
28                           Visaaranai     8.2  2015
29                  Sarpatta Parambarai     8.2  2021
30                           Thalapathi     8.2  1991
31                         Nadodikkattu     8.2  1987
32                      Pather Panchali     8.2  1955
33                             Drishyam     8.2  2013
34                         Thani Oruvan     8.2  2015
35                   Jaane Bhi Do Yaaro     8.2  1983
36                         Vada Chennai     8.2  2018
37                            Aparajito     8.2  1956
38                    Khosla Ka Ghosla!     8.2  2006
39                         Sardar Udham     8.2  2021
40                              Anniyan     8.2  2005
41                             Ratsasan     8.1  2018
42                        Chupke Chupke     8.1  1975
43                   Gangs of Wasseypur     8.1  2012
44                             Drishyam     8.1  2015
45                             Mahanati     8.1  2018
46                              Peranbu     8.1  2018
47                       Bangalore Days     8.1  2014
48                               Premam     8.1  2015
49                                Satya     8.1  1998

#### 4) Write a python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [32]:
def former_presidents(url):    
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    president_name = soup.find_all('div', class_='presidentListing')
    term_of_office = soup.find_all('span', class_='terms')


    president_name = soup.find_all('div', class_='presidentListing')
    term_of_office = soup.find_all('span', class_='terms')

    names = []
    terms = []

    for i in president_name:
        name = i.text.split('(')[0].strip()
        if name != '':
            names.append(name)

    for e in soup.select('li:has(h3)'):
        terms.append(e.span.next_sibling )


    data = {'Name': names, 'Term of Office': terms}
    df = pd.DataFrame(data)
    return df

In [33]:
df = former_presidents('https://presidentofindia.nic.in/former-presidents.htm')
df

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

#### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [48]:
def get_top_10_odi_teams(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    team_table = soup.find('table', class_='table')
    team_data = []
    rows = team_table.find_all('tr')

    for row in rows[1:11]:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        team_data.append(cols)

    team_df = pd.DataFrame(team_data, columns=['Position', 'Team', 'Matches', 'Points', 'Rating'])
    return team_df

In [113]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
team_df = get_top_10_odi_teams(url)
team_df['Team'] = team_df['Team'].str.split('\n').str[0]
team_df

  Position          Team Matches Points Rating
0        1     Australia      35  3,965    113
1        2   New Zealand      31  3,504    113
2        3         India      47  5,294    113
3        4       England      36  3,988    111
4        5      Pakistan      25  2,649    106
5        6  South Africa      31  3,141    101
6        7    Bangladesh      38  3,625     95
7        8     Sri Lanka      36  3,099     86
8        9   West Indies      43  3,105     72
9       10   Afghanistan      20  1,419     71

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [147]:

def top_10_batsmen_odi(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    batsman = soup.find_all('div',class_='rankings-block__banner--name-large')
    batsman2 = soup.find_all('td',class_='table-body__cell rankings-table__name name')
    batsman_name = []

    team_name = soup.find_all('span', class_='rankings-block__banner--nation')
    country = []

    rating_ = soup.find_all('div', class_='rankings-block__banner--rating')
    rating2 = soup.find_all('td',class_='table-body__cell rating')
    ratings = []

    for i in batsman:
        battingmen = i.text.strip()
        batsman_name.append(battingmen)    

    batsman_name

    for i in batsman2: 
        bat_men = i.text.strip()
        batsman_name.append(bat_men)


    for e in rating_:
        rate = e.text.strip()
        ratings.append(rate)

    for e in rating2:
        rates = e.text.strip()
        ratings.append(rates)



    data = {'Name': batsman_name, 'Rating': ratings}
    df = pd.DataFrame(data)
    print(df.head(10))

In [163]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
odi_batsmen = top_10_batsmen_odi(url)
odi_batsmen

                    Name Rating
0             Babar Azam    887
1  Rassie van der Dussen    777
2            Imam-ul-Haq    740
3           Shubman Gill    738
4           David Warner    726
5            Virat Kohli    719
6        Quinton de Kock    718
7           Rohit Sharma    707
8            Steve Smith    702
9           Fakhar Zaman    699

c) Top 10 ODI bowlers along with the records of their team and rating.

In [155]:

def top_10_bowlers_odi(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    bowler = soup.find_all('div',class_='rankings-block__banner--name-large')
    bowler2 = soup.find_all('td',class_='table-body__cell rankings-table__name name')
    bowler_name = []

    team_name = soup.find_all('span', class_='rankings-block__banner--nation')
    country = []

    rating_ = soup.find_all('div', class_='rankings-block__banner--rating')
    rating2 = soup.find_all('td',class_='table-body__cell rating')
    ratings = []

    for i in bowler:
        bowl = i.text.strip()
        bowler_name.append(bowl)    

    bowler_name

    for i in bowler2: 
        bowl_men = i.text.strip()
        bowler_name.append(bowl_men)


    for e in rating_:
        rate = e.text.strip()
        ratings.append(rate)

    for e in rating2:
        rates = e.text.strip()
        ratings.append(rates)



    data = {'Name': bowler_name, 'Rating': ratings}
    df = pd.DataFrame(data)
    print(df.head(10))

In [157]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
odi_bowlers = top_10_bowlers_odi(url)
odi_bowlers

               Name Rating
0    Josh Hazlewood    705
1       Trent Boult    694
2    Mohammed Siraj    691
3    Mitchell Starc    686
4        Matt Henry    676
5       Rashid Khan    659
6        Adam Zampa    652
7    Shaheen Afridi    641
8  Mujeeb Ur Rahman    637
9   Shakib Al Hasan    636

#### Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [114]:
def get_top_10_odi_teams(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    team_table = soup.find('table', class_='table')
    team_data = []
    rows = team_table.find_all('tr')

    for row in rows[1:11]:
        cols = row.find_all('td')
        cols = [col.text.strip() for col in cols]
        team_data.append(cols)

    team_df = pd.DataFrame(team_data, columns=['Position', 'Team', 'Matches', 'Points', 'Rating'])
    return team_df

In [116]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
team_df = get_top_10_odi_teams(url)
team_df['Team'] = team_df['Team'].str.split('\n').str[0]
team_df

  Position          Team Matches Points Rating
0        1     Australia      21  3,603    172
1        2       England      28  3,342    119
2        3  South Africa      26  3,098    119
3        4         India      27  2,820    104
4        5   New Zealand      25  2,553    102
5        6   West Indies      27  2,535     94
6        7    Bangladesh      13    983     76
7        8      Thailand      11    821     75
8        9      Pakistan      27  1,678     62
9       10     Sri Lanka       8    353     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [164]:
def top_10_batswomen_odi(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    batsman = soup.find_all('div',class_='rankings-block__banner--name-large')
    batsman2 = soup.find_all('td',class_='table-body__cell rankings-table__name name')
    batsman_name = []

    team_name = soup.find_all('span', class_='rankings-block__banner--nation')
    country = []

    rating_ = soup.find_all('div', class_='rankings-block__banner--rating')
    rating2 = soup.find_all('td',class_='table-body__cell rating')
    ratings = []

    for i in batsman:
        battingmen = i.text.strip()
        batsman_name.append(battingmen)    

    batsman_name

    for i in batsman2: 
        bat_men = i.text.strip()
        batsman_name.append(bat_men)


    for e in rating_:
        rate = e.text.strip()
        ratings.append(rate)

    for e in rating2:
        rates = e.text.strip()
        ratings.append(rates)



    data = {'Name': batsman_name, 'Rating': ratings}
    df = pd.DataFrame(data)
    print(df.head(10))

In [167]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
odi_batswomen = top_10_batswomen_odi(url)
odi_batswomen

                  Name Rating
0         Alyssa Healy    762
1          Beth Mooney    754
2      Laura Wolvaardt    732
3       Natalie Sciver    731
4          Meg Lanning    717
5     Harmanpreet Kaur    716
6      Smriti Mandhana    714
7  Chamari Athapaththu    655
8    Amy Satterthwaite    641
9         Ellyse Perry    626

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [168]:
def top_10_women_bowlers_odi(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    bowler = soup.find_all('div',class_='rankings-block__banner--name-large')
    bowler2 = soup.find_all('td',class_='table-body__cell rankings-table__name name')
    bowler_name = []

    team_name = soup.find_all('span', class_='rankings-block__banner--nation')
    country = []

    rating_ = soup.find_all('div', class_='rankings-block__banner--rating')
    rating2 = soup.find_all('td',class_='table-body__cell rating')
    ratings = []

    for i in bowler:
        bowl = i.text.strip()
        bowler_name.append(bowl)    

    bowler_name

    for i in bowler2: 
        bowl_men = i.text.strip()
        bowler_name.append(bowl_men)


    for e in rating_:
        rate = e.text.strip()
        ratings.append(rate)

    for e in rating2:
        rates = e.text.strip()
        ratings.append(rates)



    data = {'Name': bowler_name, 'Rating': ratings}
    df = pd.DataFrame(data)
    print(df.head(10))

In [169]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
odi_bowlers = top_10_women_bowlers_odi(url)
odi_bowlers

                  Name Rating
0    Sophie Ecclestone    751
1        Jess Jonassen    723
2       Shabnim Ismail    722
3         Megan Schutt    704
4      Hayley Matthews    660
5           Kate Cross    655
6       Ayabonga Khaka    634
7  Rajeshwari Gayakwad    617
8       Marizanne Kapp    598
9        Deepti Sharma    589

#### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame i) Headline ii) Time iii) News Link

In [189]:
def scrape_cnbc_news(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')

    headlines = []
    times = []
    news_links = []

    for article in soup.find_all('a', class_='LatestNews-headline'):
        headlines.append(article.text.strip())

    for time in soup.find_all('time', class_='LatestNews-timestamp'):
        if 'datetime' in time.attrs:
            times.append(time['datetime'])
        else:
            times.append('N/A')

    for link in soup.find_all('a', class_='LatestNews-headline'):
        news_links.append(link['href'])

    df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': news_links})
    return df


if __name__ == '__main__':
    url = "https://www.cnbc.com/world/?region=world"
    df = scrape_cnbc_news(url)
    print(df)

                                             Headline Time  \
0   What Home Depot's billion-dollar pay raise may...  N/A
1   Sales, spin-offs and splits — the differences ...  N/A
2   Charlie Munger reportedly warns of trouble for...  N/A
3   Workers are secretly using ChatGPT, AI and it ...  N/A
4   A psychologist shares 6 toxic phrases 'highly ...  N/A
5   Top cloud providers Amazon, Microsoft and Goog...  N/A
6   Alzheimer’s patients may wait years for new tr...  N/A
7       Retirees are flocking to these 10 U.S. states  N/A
8   It might be Jonah Peretti's last chance to tur...  N/A
9   Obesity is a chronic disease. It's why treatin...  N/A
10  Mario Gabelli ranks old media stocks among his...  N/A
11  Earnings playbook: The second half of the seas...  N/A
12  SpaceX to spend $2 billion on Starship this ye...  N/A
13  Jack Dorsey criticizes Elon Musk’s leadership ...  N/A
14  Banks including JPMorgan Chase, Bank of Americ...  N/A
15  How to raise a kids with a ‘secure’ attachment...  N/A
16  The business case for green sports stadiums an...  N/A
17  A solid start to earnings season will be put t...  N/A
18  TikTokers are using beef tallow to treat acne:...  N/A
19  This 28-year-old pays $62 a month to live in a...  N/A
20  As part of the  ‘cocktail culture,' consumers ...  N/A
21  Why GM is killing the Chevy Bolt — America's c...  N/A
22  Just a few stocks are behind the market's resi...  N/A
23  Google Cloud's Kurian on road to profit: 'We w...  N/A
24  Olipop nears $200 million in annual sales—and ...  N/A
25  This 25-year-old makes $200/hour without a bac...  N/A
26  The most overbought and oversold S&P 500 stock...  N/A
27  Mark Cuban says paying Twitter for a blue chec...  N/A
28  Goldman Sachs says these are its top picks com...  N/A
29  What’s next for SpaceX’s Starship after a dram...  N/A

                                            News Link
0   https://www.cnbc.com/2023/04/30/what-home-depo...
1   https://www.cnbc.com/2023/04/30/sales-spin-off...
2   https://www.cnbc.com/2023/04/30/charlie-munger...
3   https://www.cnbc.com/2023/04/30/the-big-cyber-...
4   https://www.cnbc.com/2023/04/30/psychologist-s...
5   https://www.cnbc.com/2023/04/30/cloud-provider...
6   https://www.cnbc.com/2023/04/30/alzheimers-tre...
7   https://www.cnbc.com/2023/04/30/florida-is-the...
8   https://www.cnbc.com/2023/04/30/buzzfeed-turna...
9   https://www.cnbc.com/2023/04/30/obesity-is-a-c...
10  https://www.cnbc.com/2023/04/30/mario-gabelli-...
11  https://www.cnbc.com/2023/04/30/earnings-playb...
12  https://www.cnbc.com/2023/04/29/elon-musk-spac...
13  https://www.cnbc.com/2023/04/29/jack-dorsey-cr...
14  https://www.cnbc.com/2023/04/29/first-republic...
15  https://www.cnbc.com/2023/04/29/how-to-raise-a...
16  https://www.cnbc.com/2023/04/29/the-business-c...
17  https://www.cnbc.com/2023/04/29/decent-start-t...
18  https://www.cnbc.com/2023/04/29/tiktokers-are-...
19  https://www.cnbc.com/2023/04/29/28-year-old-pa...
20  https://www.cnbc.com/2023/04/29/cocktail-cultu...
21  https://www.cnbc.com/2023/04/29/why-gm-is-kill...
22  https://www.cnbc.com/2023/04/29/just-a-few-sto...
23  https://www.cnbc.com/2023/04/29/google-cloud-b...
24  https://www.cnbc.com/2023/04/29/olipop-nears-2...
25  https://www.cnbc.com/2023/04/29/25-year-old-no...
26  https://www.cnbc.com/2023/04/29/herea-re-the-m...
27  https://www.cnbc.com/2023/04/29/mark-cuban-pay...
28  https://www.cnbc.com/2023/04/29/goldman-sachs-...
29  https://www.cnbc.com/2023/04/29/spacex-starshi...

8) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [239]:

r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
    
Paper_Title = []
Authors = []
Published_Date = []
Paper_URL = []
    
title = soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg')
author = soup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO')
published_date = soup.find_all('span', class_='sc-1thf9ly-2 dvggWt')
paper_url = soup.find_all('a',class_='sc-5smygv-0 fIXTHm')

for i in title:
    Paper_Title.append(i.text.strip())

for j in author:
    Authors.append(j.text.strip())

for k in published_date:
    Published_Date.append(k.text.split()) 
    
for l in soup.find_all('a'):
    Paper_URL.append(l.get('href'))

Paper_URL1 = Paper_URL[:25]   

data = {'Name': Paper_Title, 'Authors': Authors, 'Published Date':Published_Date,'Paper URL':Paper_URL1}
df = pd.DataFrame(data)
df

,Name,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...","[October, 2021]",#skip-to-content-anchor
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more","[October, 2021]",http://www.elsevier.com
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni","[October, 2015]",https://account.elsevier.com/auth
3,Creativity and artificial intelligence,"Boden, Margaret A.","[August, 1998]",https://elsevier.com/about
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more","[June, 2017]",https://www.elsevier.com/connect
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim","[February, 2019]",https://www.elsevier.com/about/careers
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more","[April, 2021]",https://elsevier.com/about
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...","[February, 2015]",https://www.elsevier.com/connect
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...","[August, 1999]",https://www.elsevier.com/about/careers
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more","[March, 2020]",https://www.elsevier.com/rd-solutions
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...","[February, 2021]",https://www.elsevier.com/clinical-solutions
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.","[October, 2007]",https://www.elsevier.com/research-platforms
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more","[August, 2016]",https://www.elsevier.com/research-intelligence
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more","[April, 2021]",https://www.elsevier.com/education
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat","[December, 1997]",https://www.elsevier.com/solutions
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant","[August, 2021]",https://www.elsevier.com/rd-solutions
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders","[September, 2021]",https://www.elsevier.com/clinical-solutions
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...","[June, 2021]",https://www.elsevier.com/research-platforms
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.","[December, 2016]",https://www.elsevier.com/research-intelligence
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge","[September, 2021]",https://www.elsevier.com/education
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...","[May, 2021]",https://www.elsevier.com/solutions
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...","[January, 2014]",https://www.elsevier.com/authors
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.","[December, 1997]",https://www.elsevier.com/editors
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...","[October, 2021]",https://www.elsevier.com/reviewers
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng","[February, 2010]",https://www.elsevier.com/librarians